# Environment variables for the Service Measurement microservice
NODE_ENV=development
APP_NAME=service-measurement
PORT=4006
# URLs for external services
LOKI_URL=http://host.docker.internal:3100
VALKEY_URL=redis://localhost:6379
CACHE_TTL=10000
# Database connection string for Prisma
DATABASE_URL="postgresql://administrator:AbCd1234@localhost:5432/service_measurement"
# Retention policy
MEASUREMENT_DELETION_RETENTION_DAYS=30