NODE_ENV=production
APP_NAME=service-measurement
PORT=4006

LOKI_URL=http://citydata-loki:3100
VALKEY_URL=redis://:your_valkey_password@valkey:6379/0
CACHE_TTL=10000

DATABASE_URL=postgresql://postgres:your_postgres_password@citydata-postgres-b1mysl:5432/service_measurement
TZ=America/Bogota